{%extends 'base.html' %}

{%load crispy_forms_tags%}

{%block content%}
<div class="container border rounded-5 p-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <h1 class="text-center fw-bold">Signup</h1>
            <form action="" method="post" class="mt-4" novalidate>
                {%csrf_token%}
                {# Option A: use the helper + {% crispy %} tag #}
                {% crispy reg_form %}
            </form>
        </div>
    </div>
</div>


{%endblock content%}