{%extends 'main.html' %}
{%load static%}
{%block head%}
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
{%endblock head%}
{%block extra_style%}
    <style>
        body {
         background: /*linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), */
                    url('static/images/loan-man.jpg') no-repeat center center fixed;
        background-size: cover;
        color: #fff;
        font-family: 'Poppins', sans-serif;
        min-height: 100vh;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        backdrop-filter: blur(2.5px);
        }

        .hero, .hero > * {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        text-align: center;
        }

        .hero h1 {
        font-size: 2.5rem;
        margin-bottom: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #fff;
        }

        .hero p {
        font-size: 1.1rem;
        color: #000;
        max-width: 600px;
        }
    </style>
{%endblock extra_style%}

{%block content%}
    {%if messages%}
        <div class="message mb-3 container text-center d-flex justify-content-center">
            {%for message in messages%}
            <div class="alert alert-{{message.tags}}">
                {{message}}
            </div>
            {%endfor%}
        </div>
    {%endif%}

        <div class="container hero" data-aos="fade-up" data-aos-mirror="true" data-aos-duration="3000">
            <div class="hero-text">
                <h1>Welcome to The Loan Management App</h1>
                <p class="fw-semibold">Providing you with accessible loans at all times</p>
                <a href="{%url 'loan_apply'%}" class="btn hero-btn fw-semibold px-3">Apply For Loan</a>
            </div>
        </div>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
{%endblock content%}