
<!-- This is the redirect page a user is redirected to after
submiting the password form, let them know they've been
emailed instructions-->
{%extends "main.html"%}
{%load static%}
{%block content%}

<div class="container text-center"> 
    <h2>Password Reset Instructions Sent</h2>
    <p>
        If an account exists with the email address you provided, we’ve sent you an email containing 
        a link to reset your password. Please check your inbox and follow the instructions.
    </p>
    <p>
        If you don’t see the email within a few minutes, be sure to check your <strong>spam</strong> or 
        <strong>junk</strong> folder.
    </p>
    <p>
        Still having trouble? You can <a href="{% url 'reset_password' %}" class="fw-semibold">try again</a> or
        <a href="{#% url 'contact' %#}" class="fw-semibold">contact support</a> for further assistance.
    </p>
</div>

{%endblock content%}